/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "GT Walsheim Regular", Arial;
}

@font-face {
    font-family: "GT Walsheim Regular";
    src: url(../fonts/GT-Walsheim-Regular.woff);
}

@font-face {
    font-family: "GT Walsheim Medium";
    src: url(../fonts/GT-Walsheim-Medium.woff);
}

.medium,
h1,h2,h3,h4,.link, .eyebrow,.btn, .footer-info{
    font-family: "GT Walsheim Medium", Arial;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, body, input {
    box-sizing: border-box;
    font-family: fieldwork, sans-serif;
}


#navbar {
    height: 50px;
    background: #001D9B;
    display: block;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-left .hamburger {
    padding: 0 20px;
}

.btn {
    font-size: 14px;
    color: white;
    display: block;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.nav-right {
    padding-right: 20px;
}

.btn.orange {
    width: 140px;
    height: 30px;
    background: #F77B2F;
    border-radius: 56px;
    text-decoration: none;
}

.flex-row {
    width: 100%;
    display: flex;
}

.flex-row.space {
    justify-content: space-between;
}

.banner {
    /*padding: 100px;*/
}

.banner .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
}

.bkg-blue {
    background: #6BA3DA;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    color: white;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E6BAF;
}

h4 span.blue-underline {
    font-weight: 500 !important;
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 90%;
}

.flex-left {
    max-width: 65%;
}

.flex-wrap .image {
    display: block;
    width: 50%;
}

.image.left {
    padding-right: 12%;
}

.image.right {
    padding-left: 12%;
    text-align: right;
}

.flex-wrap .co-body {
    max-width: 50%;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px;
    align-items: center;
}

.co-section {
    padding: 80px 0;
}

.eyebrow {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #6BA3DA;
}

h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: #001D9B;
    margin: 20px 0;
}

.blue-white-page .left h3 {
    font-size: 26px;
    line-height: 36px;
}

.blue-white-page .right h3 {
    font-size: 24px;
    line-height: 27px;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #3D404D;
    padding: 10px 0;
}

.flex-wrap .image img {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 100%;
}

a.link {
    font-size: 14px;
    font-style: normal;
    line-height: 27px;
    color: #001D9B;
    font-weight: 500;
    display: inline;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 2px solid;
    text-decoration: none;
}

a {
    color: #001D9B;
}

.bkg-light-blue {
    background: #DDEEF5;
}

.flex-wrap.no-pad {
    padding: 0;
}

#footer {
    background: #001D9B;
    min-height: 500px;
    padding: 40px 0 0;
}

#footer h3 {
    color: white;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
}

#footer p {
    padding: 0;
    color: #DDEEF5;
}

#footer .footer-heading {
    width: 350px;
}

#footer .footer-heading .smiley {
    margin-left: 8px;
    margin-bottom: -10px;
}

#footer .footer-info {
    padding-left: 10%;
    padding-top: 10px;
}

#footer .flex-wrap {
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 60px;
}

#footer h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px;
    text-align: left;
    color: white;
    margin-top: 0;
}

#footer a {
    color: #DDEEF5;
    text-decoration: none;

}

span.icon {
    color: #DDEEF5;
    display: inline-flex;
    align-items: center;
    padding: 10px 0;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-align: left;

}

.show-tablet {
    display: none;
}

span.icon img {
    margin-right: 11px;
}

.hidden {
    display: none;
}

.audio-player {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #2E6BAF;
    background: #DDEEF5;
    padding: 25px;
    border-radius: 10px;
}

.audio-player div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.audio-player div h4 {
    font-size: 18px;
    line-height: 24px;
    color: #001D9B;
    margin: 0px 0 5px;
}

@media (max-width: 860px) {
    .flex-wrap .co-body {
        width: 100%;
        max-width: 100%;
    }
    .image.left {
        padding-right: 20px;
    }
    .show-tablet {
        display: block;
    }
    .banner-image {
        max-width: 140px;
    }
    .hide-tablet {
        display: none;
    }

    .co-section {
        padding: 40px 0;
    }

    .co-section .flex-wrap {
        display: block;
        background: #DDEEF5;
        padding: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
    }
    .co-section .flex-wrap .image {
        display: none;
    }
    #footer .flex-wrap {
        display: block;
    }
    #footer .footer-info {
        padding: 0;
        margin-top: 80px;
    }
    .co-section .flex-wrap.split {
        padding-bottom: 0;
    }
    .co-section .flex-wrap.split .right {
        padding-left: 0;
        margin-top: 40px;

    }
    .btn.orange {
        width: 100px;
    }
    .banner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .back {

    }

}
.socials .social-icon {
    margin-right: 30px;
    padding: 2px;
}
.socials {
    margin-top: 40px;
    align-items: center;
    display: flex;
}

.socials .social-icon {
    display: block;
}

.divider {
    display: block;
    border-bottom: 1px solid #6BA3DA;
    opacity: 0.2;
}

#footer .flex-wrap.footer-bottom {
    color: white;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.footer-left {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#footer .flex-wrap .text {
    margin-left: 20px;
    color: #DDEEF5;
    opacity: 0.8;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.co-body p:last-of-type {
    margin-bottom: 18px;
}
.card {
    background: white;
    padding: 15px 30px;
    border-left: 4px solid #001D9B;
}
.flex-wrap.split {}

.flex-wrap.split .co-body {
    padding-right: 40px;
}

.flex-wrap.split .right {
    padding-left: 40px;
}

.card .blue-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "GT Walsheim Medium", Arial;
    color: #001D9B;
    margin-bottom: 0;
}
.card p:last-of-type {
    margin-top: 10px;
}
.blue-white-page .flex-row {}

.blue-white-page .flex-row .left {
    min-width: 30%;
    background: #DDEEF5;
}
.blue-white-page .flex-row .right {
    width: 100%;
    min-width: 60%;
}
.blue-white-page .flex-item .co-section {
    max-width: 75%;
    margin: auto;
}

.blue-white-page ul.numbered > li {
    display: flex;
    align-items: start;
    padding: 15px 0;
}

.blue-white-page ul.numbered > li > p {
    padding: 0;
    margin-left: 20px;
}

.blue-white-page ul.numbered > li .num-icon {
    display: block;
    line-height: 40px;
}

.blue-white-page ul.numbered > li .num-icon {
    background: #ddeef5;
    min-width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
}

.blue-white-page ul.numbered > li .num-icon.small {
    min-width: 28px;
    height: 28px;
    line-height: 30px;
}

.blue-white-page ul.numbered.no-num.dark > li .num-icon {
    background: #6BA3DA;
    min-width: 8px;
    height: 8px;
    margin-top: 8px;
}

.blue-white-page ul.numbered > li.sub-bullet {
    padding: 0;
}

.blue-white-page li.sub-bullet ul.numbered.no-num.dark > li .num-icon {
    background: transparent;
    border: solid #6BA3DA 2px;
    min-width: 8px;
    height: 8px;
    margin-top: 8px;
}

.blue-white-page ul.numbered.no-num.dark > li.no-top-pad {
    padding-top: 0px;
}

.blue-white-page .flex-item.right .co-section {
    max-width: 600px;
    width: 75%;
}
.blue-white-page ul.numbered.no-num > li .num-icon {
    min-width: 10px;
    margin-top: 5px;
    height: 10px;
}

.card.blue {
    background: #DDEEF5;
    margin: 15px 0;
}

.card.white {
    margin: 20px 0px;
    padding: 0px 30px;
}

.card.white p {
    margin: 0px;
    padding: 0px;
}

.card.blue p {
    margin-top: 0;
    font-weight: 500;
}


.blue-white-page .flex-row .left img {
    max-width: 100%;
    height: auto;
}

strong.blue-text {
    color: #001D9B;
    font-weight: 600;
    margin: 25px 0 20px;
    display: block;
}

.fact-check {
    margin: 20px 0;
    align-items: center;
}

.fact-check .blue-text {
    padding-left: 15px;
    line-height: 1.5;
}

.source {
    color: #3D404D;
    font-size: 13px;
    line-height: 20px;
}

.source a {
    font-weight: 500;
    text-decoration: none;
    color: #001D9B;
}

.back {
    position: absolute;
    margin: 20px 0 0 20px;
    vertical-align: top;
}
.back img {
    padding-right: 5px;
}
.back a {
    text-decoration: none;
}

.percentage-bar {
    display: block;
    height: 32px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-family: "GT Walsheim Regular", Arial;
    text-align: center;
    margin-bottom: 4px;
}
.percentage-bar.indigo {
    /*width: 218px;*/
    width: 49%;
    background: #001D9B;
    margin-top: 14px;
}
.percentage-bar.better-way-blue {
    /*width: 246px;*/
    width: 51%;
    background: #2E6BAF;
}
.percentage-bar.light-blue {
    /*width: 449px;*/
    width: 100%;
    background: #DDEEF5;
    color: #001D9B;
    margin-bottom: 0;
}
.percentage-list {
    list-style-type: none;
    margin: 24px 0;
}
.percentage-list img {
    margin-right: 8px;
}
.percentage-list li {
    font-size: 14px;
    line-height: 20px;
    color: #001D9B;
    margin-bottom: 8px;
    text-align: left;
}
.percentage-list li:last-child {
    margin-bottom: 0;
}
.quote.chairman-simons {
    border-left: 4px solid #6BA3DA;
    padding-left: 24px;
    margin: 24px 0;
    font-family: "GT Walsheim Regular", Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.quote-source {
    font-size: 13px;
    line-height: 20px;
    color: #828282;
    margin-bottom: 4px;
    padding: 0;
}
.math-check {
    list-style-type: none;
    border-left: 4px solid #001D9B;
    background: #DDEEF5;
    border-radius: 0 8px 8px 0;
    padding: 0 22px;
}
.math-check li {
    color: #3D404D;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 15px 0;
}
.math-check li:last-child {
    font-size: 29px;
    line-height: 32px;
    color: #001D9B;
    font-weight: 500;
    border-top: 2px solid white;
}
.text-indigo {
    color: #001D9B;
    font-weight: 500;
}
.underline-asking-for-it {
    background: url("../img/underline-asking-for-it.png") no-repeat left bottom;
    display: inline-block;
}

@media only screen and (max-width: 1024px) {
    .blue-white-page .flex-row .left {
        width: 250px;
    }
    .blue-white-page .flex-row .right .co-section {
        width: 70%;
    }
}
.hide-desktop {
    display: none;
}
@media only screen and (max-width: 900px) {
    .blue-white-page .flex-row {
        flex-direction: column;
    }
    .blue-white-page .flex-row .left {
        width: 100%;
    }
    .blue-white-page .flex-item .co-section,
    .blue-white-page .flex-item .co-section h3 {
        /*text-align: center;*/
    }

    .blue-white-page .flex-item.left .co-section img {
        max-width: 100%;
        height: auto;
        object-fit: fill;
        width: 100%;
    }

    .audio-player {
        background: #ffffff;
    }

    .hide-mobile {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 1.4;
    }
    .hide-desktop {
        display: initial;
    }
    #footer {
        padding: 0;
    }
}

.co-body img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}


.mt-56 {
    margin-top: 56px;
}

.claim-section {
    margin: 30px 0;
}

.claim-group {
    font-family: "GT Walsheim Medium", Arial;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.claim-group .claim-header {
    font-weight: 500;
    color: #001D9B;
    vertical-align: top;
    width: 75px;
    flex-shrink: 0;
}

.claim-group .claim-content {
    vertical-align: top;
    color: #3D404D;
}

h4 {
    margin: 20px 0;
}

.sub-bullet {
    margin-left: 40px;
}

.blue-white-page ul.numbered.no-num > li {
    padding-bottom: 0;
}


@media (max-width: 860px) {

    .claim-section .flex-wrap {
        background: white;
        padding: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }

}
.blue-white-page .co-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
